<h1>Editing Purchasing</h1>

<%= render 'form', purchasing: @purchasing %>

<%= link_to 'Show', @purchasing %> |
<% if admin? %>
  <%= link_to 'Back', purchasings_path %>
<% else %>
  <%= link_to 'Back', root_path %>
<% end %>
