<div class="title">
    <h1>Moviefy</h1>
</div>

<div style="width:100%; text-align:center;">
  <form action="movies/:id" method="get">
    <% Dir.glob('app/assets/images/thumbnail/*').map do |item| %>
      <% movie_name = File.basename(item) %>
        <button class="thumbnail" name="movie_id">
          <span><%= image_tag "thumbnail/#{movie_name}" %></span><br>
          <strong><%= construct_movie_name(movie_name[0...-4]) %></strong>
        </button>
    <% end %>
  </form>
</div>
