<div class="title">
    <h1>Moviefy</h1>
</div>

<div class='movies'>
  <% Dir.glob('app/assets/images/thumbnail/*').map do |item| %>
    <% movie_name = File.basename(item) %>
    <% movie_title = construct_movie_name(movie_name[0...-4]) %>
    <form class='form-inline' action="show_movie/:id" method="get">
      <input type='hidden' name='movie_id' value='<%= movie_title %>'>
      <button class="thumbnail" type='submit'>
        <span><%= image_tag "thumbnail/#{movie_name}" %></span><br>
        <strong><%= movie_title %></strong>
      </button>
    </form>
  <% end %>
</div>
