/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import 'bootstrap';

 body {
   margin-left: 20px;
   margin-right: 20px;
   margin-top: 65px;
   margin-bottom: 40px;
   width: auto;
 }

 .navbar-header, .nav-link, .nav-item a{
   padding: 8px;
   border-radius: 4px;
   color: white;
   text-decoration: none;
 }

 a:hover {
   background-color: rgb(40, 41, 39);
 }


 div
   .dropdown-menu {
     padding-left: 10px;
   }

   .title {
     margin-left: auto;
     margin-right: auto;
     width: 100%;
     text-align: center;
   }

   .thumbnail {
     font-size: 10pt;
     text-align: center;
     width: 200px;
     border: none;
     position: relative;
     padding-left: 4px;
     position: relative;
   }

   .thumbnail span {
    cursor: pointer;
    margin-top: 2px;
    position: absolute;
    transition: 0.5s;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 2px;
  }

  //.thumbnail span:after {
    //content: '\00bb';
    //position: absolute;
    //opacity: 0;
    //top: 0;
    //right: -20px;
    //transition: 0.5s;
    //font-size: 13pt;
  //}

  .thumbnail:hover span {
    padding-right: 11px;
    border: inset;
    border-width: 2px;

  }

  //.thumbnail:hover span:after {
    //opacity: 1;
    //right: 0;
  //}

  .movies {
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }

  .movies form {
   display: inline-block;
   float: auto;
   margin: 4px;
   height: 330px;
  }

  .right-graph, .left-graph {
    width: 45%;
    margin-top: 20px;
    float: left;
    height: 500px;
  }

  .left-image, .right-info {
    float: left;
    margin-top: 20px;
  }

  .left-graph, .left-image {
    margin-right: 20px;
  }

  .container {
    width: 100%;
  }

 form.purchase {
    margin-top: 20px;
  }

 button.purchase {
    border-radius: 6px;
    padding: 7px;
    background-color: rgb(194, 192, 196);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }

 button.thumbnail:focus {
  outline: 0;
  }

 button.purchase:hover {
   cursor: pointer;
   background-color: rgb(6, 53, 105);
   color: white;
 }
